* {
  marging: 0;
  padding: 0;
  font-family: "monsterat", sans-serif;
  box-sizing: border-box;;
}

body {
  background-image: linear-gradient(145deg, #C9FFBF, #FFAFBD);
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  marging: auto;
  padding: 16px 64px;
}

.text-input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 16px;
  font-size: 16px;
  outline: none;
}

h3 {
  margin: 16px 0;
}

.task {
  width: 100%;
  background: rgba(255,255,255,0.5);
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
  border-radius: 4px;
  display: block;
}

.task i {
  float:right;
  margin-left: 20px;
  cursor: pointer;
}

.completed .task {
  background: rgba(0,0,0,.5);
  color: #fff;
}
